.moviePic {
	height: 500px;
	width: 250px;
	opacity: 1.0;
}

.movieDetail {
	position: relative;   /* better than static for top to work */
	top: 50px;
	width: 100%;
	text-align: center;
	font-size: 40px;
}